
.chat-container{
	position:fixed;
	bottom:0px;
    right:0px;
	z-index: 9999;
}
.chat-mnbox{ 
width:320px;
margin-right:20px;
}

.chat-mnbox2{ width:300px;
height:345px;
position:fixed;
bottom:0px;
right:300px;

}

.chat-boxhd{ 
background-color:#0081dc;
padding:20px;
color:#fff;
font-size:14px;

}

.chat-cross{
	padding-left:15px;
	cursor:pointer;
	font-size:20px;
	 margin-top: -4px;
	
}

.tranparent-btn{ background:inherit;
	
}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
	overflow-y: scroll;
    height: 250px;
    
}
/*.panel-body
{	
    height: auto;    
}*/

.botscroll
{
    overflow-y: scroll;
    height: 250px;
    
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


/*rajesh start*/
 /* blink css starts here */
.blink
{
width:auto;
/*height:18px;*/
background:#44b8fb;
position:relative;
animation-name:myfirst;
animation-duration:0.5s;
animation-timing-function:linear;
animation-delay:1s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:myfirst;
-webkit-animation-duration:1s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
}

@keyframes myfirst
{
0%   {background:#000;}
100%  {background:#0081dc;}
}

@-webkit-keyframes myfirst  /*Safari and Chrome */
{
0%   {background:#0081dc;}
100%  {background:#000;}
}



.unfriend-blink
{
width:auto;
/*height:18px;*/
background:#44b8fb;
position:relative;
animation-name:mysecond;
animation-duration:0.5s;
animation-timing-function:linear;
animation-delay:1s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
/* Safari and Chrome: */
-webkit-animation-name:mysecond;
-webkit-animation-duration:1s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:1s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
}

@keyframes mysecond
{
0%   {background:#fff;}
100%  {background:#c9302c;}
}

@-webkit-keyframes mysecond  /*Safari and Chrome */
{
0%   {background:#c9302c;}
100%  {background:#fff;}
}
/* blink css ends here */

.chat-input-box{
    width: 100%;
}
.usermsg-box {
    height:100px;
    overflow-y: hidden;
}

.chat li .chat-body p.text-grey{
    color:#333;
}


.message-box2{
    position:relative;
    /*border-top:solid 4px #717171;*/
    border-bottom:solid 1px #e0e0e0;
    border-left:solid 1px #e0e0e0;
    border-right:solid 1px #e0e0e0;
    background:#f9f9f9;
    padding:20px 10px;
    margin-top:20px;
    height:260px;
    box-shadow: 1px 0px 1px 0px #2a2a2a;
}
.message-box2 li{
	position:absolute;
}
.panel-primary > .panel-heading.hd {
    background-color: #0081dc;
    border-color: #428bca;
    color: #fff;
}

div.minus-bot{
    bottom:-302px !important;
}